<div id="BillsView" data-bind="block: IsLoading">
<!-- ko if: $root.System.IsOnPage('bills') -->
    <h1 class="h1 mb-2 text-gray-800">Bills</h1>

    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">You owe</div>
                    <div class="h3 mb-0 font-weight-bold text-gray-800" data-bind="text: TotalRemaining"></div>
                </div>
                <div class="col-auto">
                    <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                </div>
                </div>
            </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Due Soon (&lt;3 days)</div>
                    <div class="h3 mb-0 font-weight-bold text-gray-800" data-bind="text: BillsDueSoon"></div>
                </div>
                <div class="col-auto">
                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                </div>
                </div>
            </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-danger shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Over Due</div>
                    <div class="h3 mb-0 font-weight-bold text-gray-800" data-bind="text: OverDueBills"></div>
                </div>
                <div class="col-auto">
                    <i class="fas fa-exclamation-circle fa-2x text-gray-300"></i>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <!-- ko if: $root.System.DoesUserHaveAccess('add_bills') -->
            <button type="button" class="btn btn-success" data-bind="click: GoToNewBillPage">
                <i class="fas fa-plus"></i>&nbsp;New Bill
            </button>
            <!-- /ko -->
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered" id="billsTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Bill</th>
                    <th>Due Date</th>
                    <th>Total Remaining</th>
                    <th>Your Remaining</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <!-- ko foreach: Bills -->
                <tbody>
                    <tr data-toggle="collapse" data-bind="attr: { class: $parent.GetBillRowClass($data), 'data-target': $parent.GetBillCollapseId($data, true) }">
                        <td data-bind="text: Title"></td>
                        <td data-bind="text: DueDate + ' (' + $parent.GetNumberOfDaysUntilBillIsDue($data) + ' days)'"></td>
                        <td data-bind="text: $parent.GetBillRemaining($data)"></td>
                        <td data-bind="text: $parent.GetRemainingAmountByUser($data, true)"></td>
                        <td class="bill-actions">
                            <button class="btn btn-primary" data-bind="click: $parent.PayBill"><i class="fas fa-dollar-sign"></i>&nbsp;Pay</button>
                            <!-- ko if: $root.System.DoesUserHaveAccess('delete_bills') -->
                            <button class="btn btn-danger" data-bind="click: $parent.DeleteBill"><i class="fas fa-trash"></i>&nbsp;Delete</button>
                            <!-- /ko -->
                        </td>
                    </tr>
                </tbody>
                <tbody data-bind="attr: { id: $parent.GetBillCollapseId($data) }" class="table-sm collapse">
                    <!-- ko foreach: Payments -->
                        <tr>
                            <td data-bind="text: $root.GetPaymentString($data)" colspan="10"></td>
                        </tr>
                    <!-- /ko -->
                    <tr>
                        <td data-bind="text: $root.GetCreationString($data)" colspan="10"></td>
                    </tr>
                </tbody>
            <!-- /ko -->
        </table>
    </div>
<!-- /ko -->


<!-- ko if: $root.System.IsOnPage('bills/pay') -->
    <div class="payment-screen" data-bind="with: GetActiveBillForPage" style="text-align: center">
        <!-- ko ifnot: $parent.DoesActiveBillApplyToUser -->
        <br/>
        <div class="alert alert-warning" role="alert">
            You are not required to pay this bill.
        </div>
        <!-- /ko -->

        <!-- ko if: $parent.HasUserPaidActiveBill -->
        <br/>
        <div class="alert alert-info" role="alert" data-bind="text: $parent.GetUserAlreadyPaidNotice($data) "></div>
        <!-- /ko -->

        <h1 class="h1 mb-2 text-gray-800" data-bind="text: Title"></h1>

        <div class="bill-payment-form">
            <div class="bill-payment-title">
                <h3 data-bind="text: 'Remaining: ' + $parent.GetBillRemaining($data)"></h3>
                <h3 data-bind="text: 'Split: ' + $parent.GetBillSplitAmountFormatted($data)"></h3>
            </div>
            <br/>
            <form>
                <div class="form-group">
                    <label for="paymentAmount">Amount</label>
                    <input id="paymentAmount" class="form-control form-control-lg" type="number" placeholder="0.00" step="0.01" name="amount" data-bind="value: $parent.DefaultPaymentAmount">
                </div>
                <div class="form-group">
                    <!-- ko foreach: PayTo.PaymentMethods -->
                    <button type="button" class="btn btn-primary form-control" data-bind="click: $parents[1].MakeBillPayment, text: Display">Pay</button>
                    <br/><br/>
                    <!-- /ko -->
                    <button type="button" class="btn btn-warning form-control" data-bind="click: $parent.CancelPayment">Cancel</button>
                </div>
            </form>
        </div>

    </div>
<!-- /ko -->


<!-- ko if: $root.System.IsOnPage('bills/new') -->
    <div class="new-bill-screen" style="text-align: center">
            <h1 class="h1 mb-2 text-gray-800">New Bill</h1>

            <div class="new-bill-form">
                <div class="form-group row">
                    <label for="billName" class="col-sm-3 col-form-label">Name</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="text" id="billName" placeholder="Rent">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="billDueDate" class="col-sm-3 col-form-label">Due Date</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="date" id="billDueDate" >
                    </div>
                </div>
                <div class="form-group row">
                    <label for="billAmount" class="col-sm-3 col-form-label">Amount</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="number" placeholder="0.00" step="0.01" id="billAmount">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="appliesTo" class="col-sm-3 col-form-label">Applies To</label>
                    <div class="col-sm-6" data-bind="foreach: $root.System.Tenants" style="text-align: left">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="appliesTo" data-bind="value: Id, attr: { id: Id }">
                            <label class="form-check-label" data-bind="html: AbbreviatedName, attr: { for: Id }"></label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="payTo" class="col-sm-3 col-form-label">Pay To</label>
                    <div class="col-sm-6">
                        <select class="form-control" id="payTo">
                            <option selected>Choose...</option>
                            <!-- ko foreach: $root.System.Recipients -->
                                <option data-bind="value: Id, text: Name"></option>
                            <!-- /ko -->
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary form-control" data-bind="click: SubmitNewBill">Create</button>
                </div>
            </div>
    </div>
<!-- /ko -->

</div>