<div id="BillsView" data-bind="block: IsLoading">
<!-- ko if: $root.System.IsOnPage('bills') -->
    <h1 class="h1 mb-2 text-gray-800">Bills</h1>

    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Bill Amount</div>
                    <div class="h3 mb-0 font-weight-bold text-gray-800" data-bind="text: TotalBillCost"></div>
                </div>
                <div class="col-auto">
                    <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                </div>
                </div>
            </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Due Soon (&lt;3 days)</div>
                    <div class="h3 mb-0 font-weight-bold text-gray-800" data-bind="text: BillsDueSoon"></div>
                </div>
                <div class="col-auto">
                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                </div>
                </div>
            </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-danger shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Over Due</div>
                    <div class="h3 mb-0 font-weight-bold text-gray-800" data-bind="text: OverDueBills"></div>
                </div>
                <div class="col-auto">
                    <i class="fas fa-exclamation-circle fa-2x text-gray-300"></i>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <!-- ko if: $root.System.DoesUserHaveAccess('add_bills') -->
            <button type="button" class="btn btn-success">
                <i class="fas fa-plus"></i>&nbsp;New Bill
            </button>
            <!-- /ko -->
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered" id="billsTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Bill</th>
                    <th>Due Date</th>
                    <th>Remaining</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <!-- ko foreach: Bills -->
                <tbody>
                    <tr data-toggle="collapse" data-bind="attr: { class: $parent.GetBillRowClass($data), 'data-target': $parent.GetBillCollapseId($data, true) }">
                        <td data-bind="text: Title"></td>
                        <td data-bind="text: DueDate + ' (' + $parent.GetNumberOfDaysUntilBillIsDue($data) + ' days)'"></td>
                        <td data-bind="text: $parent.GetBillRemaining($data)"></td>
                        <td>
                            <button class="btn btn-primary" data-bind="click: $parent.PayBill"><i class="fas fa-dollar-sign"></i>&nbsp;Pay</button>
                            <!-- ko if: $root.System.DoesUserHaveAccess('delete_bills') -->
                            <button class="btn btn-danger"><i class="fas fa-trash"></i>&nbsp;Delete</button>
                            <!-- /ko -->
                        </td>
                    </tr>
                </tbody>
                <tbody data-bind="attr: { id: $parent.GetBillCollapseId($data) }, foreach: Payments" class="table-sm collapse">
                    <tr>
                        <td data-bind="text: $root.GetPaymentString($data)" colspan="10"></td>
                    </tr>
                </tbody>
            <!-- /ko -->
        </table>
    </div>
<!-- /ko -->

<!-- ko if: $root.System.IsOnPage('bills/pay') -->
    <!-- ko with: GetActiveBillForPage -->
        <!-- ko ifnot: $parent.DoesActiveBillApplyToUser -->
        <br/>
        <div class="alert alert-warning" role="alert">
                You are not required to pay this bill.
            </div>
        <!-- /ko -->

        <h1 class="h1 mb-2 text-gray-800" data-bind="text: Title">Pay</h1>

        <div class="row">
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="bill-payment-form">
                    <div class="bill-payment-title">
                        <h3 data-bind="text: 'Remaining: ' + $parent.GetBillRemaining($data)"></h3>
                        <h3 data-bind="text: 'Split: ' + $parent.GetBillSplitAmountFormatted($data)"></h3>
                    </div>
                    <form>
                        <input class="form-control" type="hidden" name="bill-id" data-bind="value: Id">

                    </form>
                </div>
            </div>
        </div>

    <!-- /ko -->
<!-- /ko -->
</div>